<!DOCTYPE html>
<html>
  <head>
    <title>Yordi Bolívar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1>Yordi Bolívar</h1>
      <p>30.703.749<br>Programación 3 Sección 4</p>
    </main>
  </body>
</html>
